<?xml version="1.0"?>
<config>
	<engine>
		<title>My platformer game</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="720" height="448" scale="4" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<map path="Assets/Maps/" name="lvl1_map.tmx" />
		<entities>
			<player x="0" y="73" w="8" h="8" texture="Assets/Textures/player/player.png" gravity="true">
				<animations>
					<idle loop="true" speed="0.1">
						<frame x="0" y="63" w="8" h="8" />
					</idle>
					<walkingright loop="true" speed="0.1">
						<frame x="10" y="64" w="8" h="8" />
					</walkingright>
				</animations>
			</player>
			<enemies>
				<enemy name="badguy" x="152" y="73" w="8" h="8" texture="Assets/Textures/player/player.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="36" y="63" w="8" h="8" />
						</idle>
					</animations>
				</enemy>
				<enemy name="badguy2" x="496" y="73" w="8" h="8" texture="Assets/Textures/player/player.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="63" y="63" w="8" h="8" />
						</idle>
					</animations>
				</enemy>
			</enemies>
		</entities>
	</scene>
</config>
 